<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データアップロード</title>
</head>
<body>
    <form action="/uploadData" method="post" enctype="multipart/form-data">
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="file">画像ファイルまたはテキストファイルを選択:</label>
        <input type="file" id="file" name="file" accept=".txt, .tex, .png, .jpg, .jpeg" required><br>

        <input type="submit" value="アップロード">
    </form>
</body>
</html>